[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pip = "==18"
bumpversion = "*"
twine = "*"
pyinstaller = "*"
cmarkgfm = "*"
"flake8" = "*"

[packages]
pyyaml = "*"
oath = "*"

[requires]
